spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/security-test?characterEncoding=utf8&useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
  cloud:
    consul:
      discovery:
        enabled: true
        health-check-interval: 10s
        health-check-url: http://127.0.0.1:${server.port}/actuator/health
        instance-id: ${spring.application.name}:127.0.0.1:${server.port}
        port: ${server.port}
        service-name: ${spring.application.name}
        tags: dev
      enabled: true
      host: 127.0.0.1
      port: 8500
  redis:
    database: 7
    # Redis服务器地址
    host: 47.101.42.169
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password: okmnji123
    jedis:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池中的最小空闲连接
        min-idle: 0
    timeout: 5000ms
  session:
    store-type: none